<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives: </b>
<ul>
  <li>Popular languages</li>
  <li>Commonly used libraries</li>
  <li>Tools</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>Matplotlib</li>
  <li>Panadas</li>
  <li>NumPy</li>
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
    </tr>
  <tr>
    <td>Jupiter Notebook</td>
    </tr>
  <tr>
    <td>RStudio</td>
    </tr>
   <tr>
    <td>Apache Zeppelin</td>
    </tr>
</table>

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [2]:
## This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [3]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2> Author </h2>
Margaryta Myronyuk